.jumbotron{
    background-size: cover;
    height: 100%;
    width: 100%;
}

h1 {
  text-align: center;
}

#title span {
  background-color: white;
}

#text {
  text-align: left;
}

#text span {
  background-color: white;
}
