.jumbotron{
    background-size: cover;
    height: 100%;
    width: 100%;
}

#title {
  text-align: center;
  text-shadow: white 0px 0px 10px;
  color: white;
}

#title span {
  text-shadow: white 0px 0px 10px;
  color: white;

}

#text {
  text-align: left;
}

#text span {
  text-shadow: white 0px 0px 10px;
  color: white;
}
